html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#load {
    position: fixed;
    width: 50%;
    height: 50vh;        
    background: #fff url('../images/loader.gif') no-repeat center center;
    z-index: 9999;
}
